@{
    ViewData["Title"] = "About the application";
}
<div class="row">
    <div class="col-md-10 text-center">
        <h1>Pa&uacute;l Mej&iacute;a F&eacute;liz</h1>
        <h2>2015-2750</h2>

        <img src="~/images/foto.jpg" class="img-responsive img-thumbnail" />
    </div>
</div>
